body {
  width: 100%;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html {
  width: 100%;
  height: 100%;
}

h1 {
  text-decoration: underline solid #30cbcb 20%; 
}

.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a{
  color: black;
}

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}
.navbar-logo {
    float: left;
}

.navbar-logo img {
  height: 45px;
  width: 150px;
}

@media (max-width: 767px) {
  .navbar-logo img {
    display: none;
  }
}

.intro-section {
  background-image: linear-gradient(176deg, #30cbcb 70%, #F4F4F4);
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-top: 150px;
  text-align: center;
  /* background: #fff; */
}

.about-section {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: #fff;
  word-break:break-all;
}

.branch-info-section {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: #fff;
  word-break:break-all;
}

.branch-header {
  background-image: linear-gradient(176deg, #30cbcb 70%, #F4F4F4);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  word-break:break-all;
}

.map-section {
  background: #eee;
  word-break:break-all;
}

.services-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #eee;
  word-break:break-all;
}

.branches-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #fff;
  word-break:break-all;
}

.contact-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #eee;
  word-break:break-all;
}

.about-section p {
  white-space: normal;
}

.branch-header h1 {
  font-size: 52px;
  white-space: pre-wrap; 
  word-break: keep-all;
}

.branch-info-section h5 {
  font-size: 16px;
  font-weight: lighter;
}

@media (min-width: 1200px)
{
  .services-section .container {
      width: 80%;
  }
  .branches-section .container {
      width: 80%;
  }
  .branch-info-section .container {
      width: 80%;
  }
  .map-section .container {
      width: 100%;
  }
}
@media (max-width: 767px) {
  .about-section, .branches-section, .services-section, .contact-section, .branch-info-section{
    /* display: initial; */
  padding-top: 50px;
  }

  .services-section > .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .branches-section > .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .branch-header h1 {
    font-size: 32px;
    white-space: pre-wrap; 
    word-break: keep-all;
  }
}

/* Float four columns side by side */
.column-card {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row-cards {
  margin: 0 -5px;
  padding-top: 20px;
}

/* Clear floats after the columns */
.row-cards:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column-card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
}
.column-card > .card > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: 225px;
}

@media screen and (min-width: 600px) {
  .column-card-branch{
    margin-left: 150px;
  }
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  background-color: white;
  color: black;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  padding-top: 10px;
}

.text-block > p {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .text-block > p {
    font-size: 26px;
    font-weight: 500;
  }
}

.site-footer
{
  background-image: linear-gradient(176deg, #30cbcb 70%, #F4F4F4);
  padding:15px 0 20px;
  font-size:15px;
  font-weight: 600;
  line-height:24px;
  color: #000000;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* .css-selector {
  background: linear-gradient(10deg, #feffff, #ced1d1);
  background-size: 800% 800%;

  animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
} */

.button {
  background-color: #fff; /* Green */
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 1px #26272b;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#goToBottomButton {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 0px;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
  margin: 4px 2px;
  border: none;
  outline: none;
  background-color: black;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  padding: 15px;
  z-index: 1001;
}

#goToBottomButton:hover {
  background-color: #555;
}

/* Contact Us Section */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #30cbcb;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #79afaf;
}

button[type=submit] {
  background-color: #30cbcb;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type=submit]:hover {
  background-color: #79afaf;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.row-img {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column-img {
  flex: 50%;
  padding: 0 4px;
}

.column-img img {
  margin-top: 8px;
  vertical-align: middle;
}
