@font-face {
  font-family: customFonts;
  src: url("fonts/champagne-limousines/Champagne & Limousines.ttf") ;
}

.customFonts {
  font-family: customFonts;
  font-size: 16px;
  font-size: 18px;
}
.customFontsH3 {
  font-family: customFonts;
  font-size: 48px;
}
.customFontsH4 {
  font-family: customFonts;
  font-size: 26px;
}
.customFontsBold {
  font-family: customFonts;
  font-size: 18px;
  font-weight: 500;
}

body {
  width: 100%;
  height: 100%;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: customFonts;
  opacity: 0;
  transition: opacity .5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  word-break: keep-all;
}
html {
  width: 100%;
  height: 100%;
  
}

h1 {
  text-decoration: underline solid #30cbcb 20% !important; 
}

h5 {
  font-size: 16px;
}

p {
  font-size: 18px;
}

a {
  font-size: 18px;
}
button {
  font-size: 18px;
}

.revealUp {
  opacity: 0;
  visibility: hidden;
}

.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  position: sticky;
}

.navbar-default .navbar-nav>li>a{
  color: black;
}

.navbar-logo-small img {
  display: none;
}

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}
.navbar-logo {
    float: left;
}

.navbar-logo img {
  height: 50px;
  width: 150px;
}

@media (max-width: 767px) {
  .navbar-logo img {
    display: none;
  }

  .navbar-logo-small img {
    display: inline;
  }
}

.intro-section {
  /* background-image: linear-gradient(176deg, #30cbcb 70%, #F4F4F4); */
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-top: 150px;
  text-align: center;
  /* background: #fff; */
  /* background-image: url( 'http://elmedina-laravel.test/public/v2/home_bg_top.jpeg' ); */
  /* background-image: url( 'https://elmedina.com.my/public/v2/home_bg_top.jpeg' ); */
  /* background-image: url( 'https://elmedina.com.my/public/v2/home_bg_top_2.jpeg' ); */
  background-image: url( 'https://elmedina.com.my/public/v2/home_bg_top_4.jfif' );
  background-size: cover;
  background-position: center left;
}

@media screen and (max-width: 600px) {
  .home-logo {
    display: none;
  }
  .show-spacing-desktop {
    display: none;
  }
  .intro-section {
    background-position: 15%;
    background-image: url( 'https://elmedina.com.my/public/v2/home_bg_mobile.jfif' );
  }
}

@media screen and (min-width: 600px) {
  .show-spacing-mobile {
    display: none;
  }
}

.about-section {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: #fff;
  word-break:break-all;
}

.testimonial-section {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  background: #30cbcb;
  word-break:break-all;
}

.branch-info-section {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: #fff;
  word-break:break-all;
}

.branch-header {
  background-image: linear-gradient(176deg, #30cbcb 70%, #F4F4F4);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  word-break:break-all;
}

.map-section {
  background: #eee;
  word-break:break-all;
}

.services-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #eee;
  word-break:break-all;
}

.branches-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #fff;
  word-break:break-all;
}

.contact-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #eee;
  word-break:break-all;
}

.partners-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #fff;
  word-break:break-all;
}

.clients-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #eee;
  word-break:break-all;
}

.about-section p {
  white-space: normal;
}

.branch-header h1 {
  font-size: 52px;
  white-space: pre-wrap; 
  word-break: keep-all;
}

.branch-info-section h5 {
  font-size: 16px;
  font-weight: lighter;
}

@media (min-width: 1200px)
{
  .services-section .container {
      width: 80%;
  }
  .branches-section .container {
      width: 80%;
  }
  .branch-info-section .container {
      width: 80%;
  }
  .map-section .container {
      width: 100%;
  }
  .partners-section .container {
      width: 70%;
  }
  .clients-section .container {
      width: 70%;
  }
  .testimonial-section .container {
      width: 100%;
  }
}
@media (max-width: 767px) {
  .about-section, .branches-section, .services-section, .contact-section, .branch-info-section{
    /* display: initial; */
  padding-top: 115px;
  }

  /* .services-section > .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .branches-section > .container {
    padding-right: 0px;
    padding-left: 0px;
  } */

  .branch-header h1 {
    font-size: 32px;
    white-space: pre-wrap; 
    word-break: keep-all;
  }
}

/* Float four columns side by side */
.column-card {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row-cards {
  margin: 0 -5px;
  padding-top: 20px;
}

/* Clear floats after the columns */
.row-cards:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column-card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
}
.column-card > .card > a > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: 225px;
}

/* @media screen and (min-width: 600px) {
  .column-card-branch{
    width: 30%;
  }
} */
@media screen and (min-width: 820px) {
  .row-cards{
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .column-card-branch{
    width: 31%;
  }
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 94%;
  left: 50%;
  width: 100%;
  background-color: white;
  color: black;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  padding-top: 2px;
}

.text-block > p {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .text-block > p {
    font-size: 26px;
    font-weight: bolder;
  }
}

.site-footer
{
  background-image: linear-gradient(176deg, #30cbcb 70%, #F4F4F4);
  padding:15px 0 20px;
  font-size:15px;
  font-weight: 600;
  line-height:24px;
  color: #000000;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* .css-selector {
  background: linear-gradient(10deg, #feffff, #ced1d1);
  background-size: 800% 800%;

  animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
} */

.button {
  background-color: #fff; /* Green */
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 1px #26272b;
  font-weight: bold;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#goToBottomButton {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 0px;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
  margin: 4px 2px;
  border: none;
  outline: none;
  background-color: black;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  padding: 15px;
  z-index: 1001;
}

#goToBottomButton:hover {
  background-color: #555;
}

/* Contact Us Section */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #30cbcb;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #79afaf;
}

button[type=submit] {
  background-color: #30cbcb;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type=submit]:hover {
  background-color: #79afaf;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.row-img {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column-img {
  flex: 50%;
  padding: 0 4px;
}

.column-img img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Package list */
.package-columns {
  border-radius: 25px;
  float: left;
  width: 25%;
  padding: 8px;
}

.package-price {
  /* border-radius: 25px; */
  list-style-type: none;
  /* border: 1px solid #eee; */
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.package-price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.package-price .package-header {
  border-radius: 25px;
  background-color: #111;
  color: white;
  font-size: 25px;
}

.package-price li {
  border-bottom: 1px solid #eee;
  padding: 7px;
  text-align: center;
}

.package-price .grey {
  background-color: #eee;
  font-size: 20px;
}

.package-price .grey-button {
  background-color: #eee;
  font-size: 16px;
}

.package-price .white {
  background-color: white;
}

.package-price a:link, .package-price a:visited {
  background-color: #30cbcb;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.package-price a:hover, .package-price a:active {
  background-color: #79afaf;
}

@media only screen and (max-width: 600px) {
  .hidden-package {
    display: none;
  }
  .package-columns {
    width: 50%;
  }
}

.booking-box {
  border: 2px solid #30cbcb;
}
.booking-box hr{
  border-top: 2px solid #30cbcb;
  margin  : 0;
}
.booking-title {
  font-size: 25px;
  padding-top: 15px;
  padding-left: 10px;
  font-weight: bold;
}
.booking-details {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  word-break: keep-all;
}
.booking-price {
  font-size: 18px;
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
}
.booking-box:hover
{
  background-color:#3fc9c9;
  border: 2px solid black;
  text-decoration:none;
  box-shadow: #000000;
  cursor: pointer;
}
.booking-box:hover hr{
  border-top: 2px solid black;
  
}

@media only screen and (max-width: 600px) {
  .booking {
    padding-top: 20px;
  }
}

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ffff;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #4edfdf;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #64eaea;
    border-color: #269393;
}

.square-holder {
  padding:10px;
  /* border: 1px solid #cecece; */
  align-items: center;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
  /* background-color:#f1f1f1; */
  min-height:200px
}

.square-holder img {
  max-width:100%;
  filter: grayscale(1%);
  transition: all 0.3s;
  height: auto;
  width: auto;
}

.square-holder:hover img{
  filter:none;
}

/* Testimonial Section */
.testimonial-slider {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.testimonial-slider ul.slider {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial-slider ul.slider li {
   position: absolute;
   display: block;
   width: 100%;
   opacity: 0;
   margin: 0 auto;
}
.testimonial-slider ul.slider li:nth-child(1) {
   opacity: 1;

   -webkit-animation: fade-animation-1 25s infinite;
           animation: fade-animation-1 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(2) {
   -webkit-animation: fade-animation-2 25s infinite;
           animation: fade-animation-2 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(3) {
   -webkit-animation: fade-animation-3 25s infinite;
           animation: fade-animation-3 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(4) {
   -webkit-animation: fade-animation-4 25s infinite;
           animation: fade-animation-4 25s infinite;
}

.testimonial-slider q {
  display: inline-block;
  font: normal 700 50px / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
  letter-spacing: .5pt;
  text-shadow: 0 5px 10px rgba(0,0,0,.1);
  max-width: 35ch;
  word-break: keep-all;
}

.testimonial-slider .source {
   margin-top: 25px;
   color: #d9e0f9;
   font: italic 400 30px / 1.35 "Raleway", Helvetica, Arial, Verdana, sans-serif;
   word-break: keep-all;
}

/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {
   0%, 25%, 100% {
       opacity:0
   }
   3%, 22% {
       opacity: 1;
   }
}
@keyframes fade-animation-2 {
   0%, 25%, 50%, 100% {
       opacity:0
   }
   28%, 47% {
       opacity: 1;
   }
}
@keyframes fade-animation-3 {
   0%, 50%, 75%, 100% {
       opacity:0
   }
   53%, 72% {
       opacity: 1;
   }
}
@keyframes fade-animation-4 {
   0%, 75%, 100% {
       opacity:0
   }
   78%, 97% {
       opacity: 1;
   }
}

@-webkit-keyframes fade-animation-1 {
   0%, 25%, 100% {
       opacity:0
   }
   3%, 22% {
       opacity: 1;
   }
}
@-webkit-keyframes fade-animation-2 {
   0%, 25%, 50%, 100% {
       opacity:0
   }
   28%, 47% {
       opacity: 1;
   }
}
@-webkit-keyframes fade-animation-3 {
   0%, 50%, 75%, 100% {
       opacity:0
   }
   53%, 72% {
       opacity: 1;
   }
}
@-webkit-keyframes fade-animation-4 {
   0%, 75%, 100% {
       opacity:0
   }
   78%, 97% {
       opacity: 1;
   }
}


.datepicker {
  position: inherit;
  /* top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -135px; */
  width: 270px;
  height: 170px;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  margin: auto;
  /* -webkit-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.75);
  box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.75);   */
}
.block {
  display: inline-block;
  border: 1px solid #aaa;
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 5px 5px;
}
.middle {
  margin: 0px 5px;
  /*background-color: lightblue;
  -webkit-box-shadow: inset 0px 0px 5px 0px #808080;
  -moz-box-shadow: inset 0px 0px 5px 0px #808080;
  box-shadow: inset 0px 0px 5px 0px #808080;*/
}
.label {
  color: black;
  font-size: 18px; 
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 25px;
  line-height: 25px;
  border-bottom: 2px solid #207ce5;  
  /*color: #207ce5;
  font-weight: bold;*/
}
.action {
  cursor: pointer;
}
.action-row {
  margin-top: 10px;
  border-top: 1px solid #aaa;
}
.action-row div{
  display: inline-block;
  width: 85px;
  height: 30px;  
  line-height: 30px;
  border-right: 1px solid #aaa;
}
.action-row div:last-child{
  border-right: none;
}
.fa.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* Testimonial */
.testimonial {
  position: relative;
  max-width: 2000px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 215px;
  width: 325px;
  object-fit: cover;
  border-radius: 5%;
  float: left;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 18px;
  font-weight: bolder;
  color: #333;
  white-space: pre-wrap; word-break: keep-all;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  white-space: pre-wrap; word-break: keep-all;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 15px;
  }
  .nav-btn {
    display: none;
  }
}